// SECTION :: START

.contact {
  padding-top: 110px;
  @include adaptive(1279) {
    padding-top: 75px;
  }
  @include adaptive(767) {
    padding-top: 50px;
  }

  &__wrapper {
    padding-bottom: 100px;
    @include adaptive(1279) {
      padding-bottom: 75px;
    }
    @include adaptive(767) {
      padding-bottom: 50px;
    }
  }

  &__title {
    padding-bottom: 20px;
  }

  &__desc {
    width: 100%;
    max-width: 925px;
    padding-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @include adaptive(767) {
      padding-bottom: 50px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    &-group {
      display: flex;
      justify-content: space-between;
      @include adaptive(767) {
        flex-wrap: wrap;
      }

      > div {
        width: 100%;
        max-width: calc((100% - 15px) / 2);
        @include adaptive(767) {
          max-width: 100%;
        }
      }
    }

    &-field {
      position: relative;
      margin-bottom: 20px;

      label {
        display: flex;
        width: 100%;
      }

      input,
      textarea,
      select {
        outline: none;
        position: relative;
        display: flex;
        width: 100%;
        border-radius: 0;
        border: 2px solid #592f4f;
        box-shadow: none;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #602b51;
        @include inputPlaceholder {
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-size: 16px;
          color: #602b51;
          opacity: 0.5;
        }
        @include adaptive(767) {
          font-size: 14px;
          @include inputPlaceholder {
            font-size: 14px;
          }
        }
      }

      input,
      select {
        height: 75px;
        padding: 0 30px;
        @include adaptive(767) {
          height: 55px;
          padding: 0 15px;
        }
      }

      textarea {
        resize: none;
        height: 250px;
        padding: 30px;
        @include adaptive(1023) {
          height: 200px;
        }
        @include adaptive(767) {
          height: 150px;
          padding: 15px;
        }
      }
    }

    .c-btn {
      margin-top: 25px;
    }
  }

  &__box {
    z-index: 2;
    position: relative;
    display: flex;
    width: 100%;

    > div {
      position: relative;
      //width: 100%;
      min-width: 455px;
      padding: 30px 50px 0 50px;
      box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
      background-image: url('../img/img-pattern@2x.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include adaptive(767) {
        min-width: auto;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff, 0.85);
        background-image: url('../img/logo-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &-wrapper {
      position: relative;
      height: 800px;
      @include adaptive(1439) {
        height: 700px;
      }
      @include adaptive(1279) {
        height: 600px;
      }
      @include adaptive(767) {
        height: 500px;
      }
    }

    &-map {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      iframe {
        @extend %imageResCoverAbs;
      }
    }

    &-bg {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#602B51, 0.8);

      .c-grid {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }

    &-content {
      z-index: 5;
      position: relative;
    }

    &-title {
      padding-bottom: 30px;
      text-align: left;
    }

    &-desc {}

    &-btn {
      transform: translateY(50%);
    }
  }
}

// SECTION :: END
