// SECTION :: START

section#description.description
  .c-grid
    .description__wrapper.description__wrapper-1
      .description__wrapper-left

        h2.description__title.c-title.c-title--small.wow.animate__animated.animate__fadeInUp Who are the best candidates for a Facelift?
        p.description__desc.c-desc.wow.animate__animated.animate__fadeInUp A facelift can be an excellent option for both men and women. There isn’t a specific age you have to be to get a facelift, however, most of our patients are in their 50’s or 60’s. It’s important to be in good health. We recommend that our facelift patients do not smoke. If you have the following facial concerns, you are a great candidate for our Richmond facelift:

      .description__wrapper-right
        .method__box-wrapper
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p If you experience sagging in your cheeks
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p If you have loose skin around your jawline
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p Many facelift candidates have noticeable folds around the neck
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p If you are noticing wrinkles around the nose or mouth areas

    .description__wrapper.description__wrapper-2
      .description__wrapper-left

        h2.description__title.c-title.c-title--small.wow.animate__animated.animate__fadeInUp What are the Benefits of a Facelift?
        p.description__desc.c-desc.wow.animate__animated.animate__fadeInUp A facelift can be a life-changing procedure. The benefits are immediate and the results can increase self-confidence, restoring a youthful appearance that has diminished with age. Below, we’ve highlighted more benefits:

      .description__wrapper-right
        .method__box-wrapper
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p The procedure can tighten lax muscles
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p A facelift can eliminate excess fat
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p The procedure can reduce or even eliminate creases around the mouth, nose, and eyes
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p The surgery can improve facial definition
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p A facelift can remove excess skin around the jawline, which smooths the neck area.

    .description__wrapper.description__wrapper-3
      .description__wrapper-left

        h2.description__title.c-title.c-title--small.wow.animate__animated.animate__fadeInUp What’s the First Step to Getting a Facelift?
        p.description__desc.c-desc.wow.animate__animated.animate__fadeInUp Before a date can be set for your rhytidectomy surgery, you will need to visit Dr. Hubert for an expert consultation. During this, you will talk to the doctor about your plastic surgery needs and goals. The two of you will discuss your medical history, including your allergies, past procedures, and any medications you are currently taking.
        p.description__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Hubert will also perform an examination to better understand your facial structure and tissue composition. This will help him create a surgical plan for your facelift.
        p.description__desc.c-desc.wow.animate__animated.animate__fadeInUp During your facelift consultation, it’s vital that you are upfront and honest about your expectations. An open dialogue with your surgeon will always lead to the best results.

      .description__wrapper-right

        .description__media.wow.animate__animated.animate__fadeInUp
          img(src="img/img-description.jpg" srcset="img/img-description@2x.jpg 2x" alt="")

    .description__wrapper.description__wrapper-4
      .description__wrapper-left

        h2.description__title.c-title.c-title--small.wow.animate__animated.animate__fadeInUp Facelift Surgery
        p.description__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Hubert takes great care to avoid the “over-pulled” look that you sometimes see in tabloid photos.
        p.description__desc.c-desc.wow.animate__animated.animate__fadeInUp While a facelift takes an expert surgeon to provide the best results and can be a delicate surgery, we’ve provided a synopsis of Dr. Hubert’s process:

      .description__wrapper-right
        .method__box-wrapper
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p Extra skin is removed from around the cheek and upper neck area.
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p The SMAS is resuspended and attached to immovable deeper structures to help prevent sagging in the future.
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p Dr. Hubert will often utilize fat transfer, taking small amounts of your own fat from another part of your body (usually around your hip) and injecting living fat cells into deeper wrinkles and along your cheekbones, wherever it is needed to restore a more youthful appearance.


// SECTION :: END
