// SECTION :: START

section#real.real.real--facelift
  .c-grid
    .real__wrapper
      .real__wrapper-left
        img(src="img/img-facelift-1.jpg" srcset="img/img-facelift-1@2x.jpg 2x" alt="")

      .real__wrapper-middle
        div

          .real__content

            p.real__desc.c-desc The physical signs of aging are natural and happen to all of us. All patients are different, but once a certain age is reached, the skin around our face and neck loses elasticity, and sagging begins to occur. With the help of modern-day plastic surgery, we can now turn back the hands of time, and lift and correct the aging skin, giving a youthful and rejuvenated appearance.
            p.real__desc.c-desc Many patients have chosen to get a facelift from Richmond, VA plastic surgeon Dr. Darrin Hubert, and their high-quality results speak for themselves. Dr. Hubert strives for natural-looking results in his Richmond facelift patients while placing patient safety and comfort as top priorities.

      .real__wrapper-right
        img(src="img/img-facelift-2.jpg" srcset="img/img-facelift-2@2x.jpg 2x" alt="")

// SECTION :: END
