// SECTION :: START

section#what.what

  .what__bg
    img(src="img/img-what.jpg" srcset="img/img-what@2x.jpg 2x" alt="")

  .c-grid
    .what__wrapper
      div

        .what__content

          h2.what__title.c-title What Is A Facelift?
          p.what__desc.c-desc A facelift, also known as a rhytidectomy, involves tightening the underlying tissues of the face and removing excess skin in order to create a more youthful appearance. As we age, the soft tissues of the face and neck begin to sag, the skin loses its elasticity, and areas normally plump with the right amount of fat become hollow. Dr. Hubert addresses all of these factors with his facelift procedure.
          p.what__desc.c-desc Facial sagging is due to the structural soft tissues beneath the skin, called the SMAS (or superficial musculoaponeurotic system), which are in turn connected to the bony skeleton of the face. Not every surgeon addresses the SMAS during a facelift, but doing so is vital for achieving excellent results.

// SECTION :: END
