// SECTION :: START

section#method.method
  .c-grid
    .method__wrapper.method__wrapper-1
      .method__wrapper-left

        p.method__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Hubert has extensive expertise, years of experience, and particular interest in breast surgery.  From breast augmentation with implants, to breast lifts, breast reduction, and breast reconstruction for women with cancer, Dr. Hubert has the ability to provide you with the individualized approach which is right for you.  Because no two breasts are exactly alike, let alone two patients, you should choose a surgeon with the breadth of knowledge and cutting edge techniques to help you achieve your goals.  Dr. Hubert also treats many women for revisions of prior breast surgery, whether it is for cosmetic reasons or for reconstructive results.  For example, women who have failed breast reconstruction with implants due to complications of their radiation treatment may be candidates for a DIEP flap breast reconstruction, a very advanced and complex procedure which Dr. Hubert performs on a regular basis.

      .method__wrapper-right
        img.wow.animate__animated.animate__fadeInUp(src="img/img-breast.jpg" srcset='img/img-breast@2x.jpg 2x' alt="")

    .method__wrapper.method__wrapper-2

      .method__block-wrapper
        div.wow.animate__animated.animate__fadeInUp
          .method__block
            .method__block-bg
              img(src="img/img-awards-bg.jpg" srcset="img/img-awards-bg@2x.jpg 2x" alt="")
              img(src="img/logo-icon-big.svg" alt="")
            .method__block-content
              p.c-title.c-title--small.c-title--gold BREAST LIFT
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  span LEARN MORE
        div.wow.animate__animated.animate__fadeInUp
          .method__block
            .method__block-bg
              img(src="img/img-awards-bg.jpg" srcset="img/img-awards-bg@2x.jpg 2x" alt="")
              img(src="img/logo-icon-big.svg" alt="")
            .method__block-content
              p.c-title.c-title--small.c-title--gold BREAST AUGMETATION
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  span LEARN MORE
        div.wow.animate__animated.animate__fadeInUp
          .method__block
            .method__block-bg
              img(src="img/img-awards-bg.jpg" srcset="img/img-awards-bg@2x.jpg 2x" alt="")
              img(src="img/logo-icon-big.svg" alt="")
            .method__block-content
              p.c-title.c-title--small.c-title--gold BREAST REDUCTION
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  span LEARN MORE
        div.wow.animate__animated.animate__fadeInUp
          .method__block
            .method__block-bg
              img(src="img/img-awards-bg.jpg" srcset="img/img-awards-bg@2x.jpg 2x" alt="")
              img(src="img/logo-icon-big.svg" alt="")
            .method__block-content
              p.c-title.c-title--small.c-title--gold BREAST RECONSTRUCTION
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  span LEARN MORE
        div.wow.animate__animated.animate__fadeInUp
          .method__block
            .method__block-bg
              img(src="img/img-awards-bg.jpg" srcset="img/img-awards-bg@2x.jpg 2x" alt="")
              img(src="img/logo-icon-big.svg" alt="")
            .method__block-content
              p.c-title.c-title--small.c-title--gold DIEP Flap BREAST RECONSTRUCTION
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  span LEARN MORE
        div.wow.animate__animated.animate__fadeInUp
          .method__block
            .method__block-bg
              img(src="img/img-awards-bg.jpg" srcset="img/img-awards-bg@2x.jpg 2x" alt="")
              img(src="img/logo-icon-big.svg" alt="")
            .method__block-content
              p.c-title.c-title--small.c-title--gold MALE BREAST REDUCTION
              .c-btn__wrapper.c-btn__wrapper--center
                a.c-btn(href="#")
                  span LEARN MORE

    .method__wrapper.method__wrapper-3

      .method__wrapper-left

        h2.method__title.c-title.c-title--small.wow.animate__animated.animate__fadeInUp Choose the right surgeon for you
        p.method__desc.c-desc.wow.animate__animated.animate__fadeInUp The cosmetic marketplace can be confusing for patients. There are a lot of different people out there who offer cosmetic procedures. They might come from very different backgrounds or have very different levels of training with any surgery, let alone cosmetic surgery. Some may not have even gone to medical school! This can lead to a “buyer beware” situation for the patient. The term plastic surgery is a generic one. However, when it is used by the American Board of Plastic Surgery, one of the 24 specialty boards recognized by the American Board of Medical Specialties (ABMS), it has a very specific meaning. These plastic surgeons are medical doctors who have completed a residency training encompassing all of the fields of plastic surgery of the whole body. They maintain certification through ongoing educational experience and pledge to uphold the high ethical standards in the field of plastic surgery. Dr. Hubert has been board-certified by the American Board of Plastic Surgery since 2008.

      .method__wrapper-right

        h2.method__title.c-title.c-title--small.wow.animate__animated.animate__fadeInUp Things you should ask your surgeon:

        .method__box-wrapper
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p Are you certified by the American Board of Plastic Surgery?
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p Are you a medical school graduate?
          div.wow.animate__animated.animate__fadeInUp
            .method__box
              p Do you have hospital privileges to perform these operations and to care for complications of these operations?

// SECTION :: END
