// SECTION :: START

section#gallery.gallery
  .c-grid
    .gallery__wrapper.gallery__wrapper-1

      h2.gallery__title.c-title.c-title--small!= "Surgeries performed by board-certified plastic surgeon <br>Dr. Darrin M. Hubert in Richmond, VA."

    .gallery__wrapper.gallery__wrapper-2

      h2.gallery__subtitle.c-title FACE
      p.gallery__label.c-label BEFORE AND AFTER PHOTOS

      .gallery__box-wrapper
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-face-1.jpg" srcset="img/img-gallery-face-1@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small FACELIFT
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-face-2.jpg" srcset="img/img-gallery-face-2@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small EYELID LIFT
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-face-3.jpg" srcset="img/img-gallery-face-3@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small RHINOPLASY
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-face-4.jpg" srcset="img/img-gallery-face-4@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small BOTOX AND INJECTABLE FILLERS
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-face-5.jpg" srcset="img/img-gallery-face-5@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small LASER AND SKIN THIGHTENING

    .gallery__wrapper.gallery__wrapper-3

      h2.gallery__subtitle.c-title BREAST
      p.gallery__label.c-label BEFORE AND AFTER PHOTOS

      .gallery__box-wrapper
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-breast-1.jpg" srcset="img/img-gallery-breast-1@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small IMPLANT BREAST RECONSTRUCTION
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-breast-2.jpg" srcset="img/img-gallery-breast-2@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small BREAST AUGMENTATION
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-breast-3.jpg" srcset="img/img-gallery-breast-3@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small BREAST LIFT
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-breast-4.jpg" srcset="img/img-gallery-breast-4@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small GYNECOMASTIA
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-breast-5.jpg" srcset="img/img-gallery-breast-5@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small BREAST REDUCTION
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-breast-6.jpg" srcset="img/img-gallery-breast-6@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small DIEP FLAP RECONSTRUCTION
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-breast-7.jpg" srcset="img/img-gallery-breast-7@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small BREAST AUGMENTATION REVISION

    .gallery__wrapper.gallery__wrapper-4

      h2.gallery__subtitle.c-title BODY
      p.gallery__label.c-label BEFORE AND AFTER PHOTOS

      .gallery__box-wrapper
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-body-1.jpg" srcset="img/img-gallery-body-1@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small MOMMY MAKEOVER
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-body-2.jpg" srcset="img/img-gallery-body-2@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small TUMMY TUCK
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-body-3.jpg" srcset="img/img-gallery-body-3@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small BRACHIOPLASTY
        div
          a.gallery__box(href='#')
            img(src="img/img-gallery-body-4.jpg" srcset="img/img-gallery-body-4@2x.jpg 2x" alt="")
            p.c-title.c-title--gold.c-title--small LIPOSUCTION


// SECTION :: END
