// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper.footer__wrapper-1
      
      .logo.logo--footer
        a.logo__btn(href="#") 
          img.logo__img(src="img/logo.svg" alt="")
      
    .footer__wrapper.footer__wrapper-2

      .footer__row
        .footer__col.footer__col-1

          .footer__nav-wrapper
            nav.footer__nav
              a(href="#") Home
              a(href="#") Face
              a(href="#") Breast
              a(href="#") Body
              a(href="#") Gallery
              a(href="#") Contact
            nav.footer__nav
              a(href="#") Sitemap
              a(href="#") Privacy Policy
              a(href="#") HIPAA Privacy Policy
              a(href="#") Terms of Use

        .footer__col.footer__col-2

          .footer__address
            .footer__address-top
              .footer__address-left

                .footer__address-content
                  a(href="tel: 804.285.4115") 804.285.4115
                  p!= "14401 Sommerville Court, <br>Midlothian, VA 23113"
                  p!= "1630 Wilkes Ridge Parkway, Suite 201, <br>Richmond, VA 23233"

              .footer__address-right

                nav.footer__social
                  a(href="#")
                    i.icon-font.icon-facebook
                  a(href="#")
                    i.icon-font.icon-instagram

            .footer__address-bottom
              
              nav.footer__subnav
                a(href="#") Sitemap 
                span | 
                a(href="#") Privacy Policy 
                span | 
                a(href="#") HIPAA Privacy Policy 
                span | 
                a(href="#") Terms of Use

              .copyright
                p.copyright__text Copyright © 2021 Darrin M. Hubert, M.D., F.A.C.S. All Rights Reserved.

// FOOTER :: END
