// SECTION :: START

section#media.media
  .c-grid
    .media__wrapper

      h2.media__title.c-title.wow.animate__animated.animate__fadeInUp In the media
      p.media__label.c-label.wow.animate__animated.animate__fadeInUp & MEDIA

      .media__box-wrapper
        div.wow.animate__animated.animate__fadeInUp
          a.media__box.media__box--small(href="#")
            img(src="img/img-media-2.jpg" srcset="img/img-media-2@2x.jpg 2x" alt="")
            span
              i.icon-font.icon-play
        div.wow.animate__animated.animate__fadeInUp
          a.media__box(href="#")
            img(src="img/img-media-1.jpg" srcset="img/img-media-1@2x.jpg 2x" alt="")
            span
              i.icon-font.icon-play
        div.wow.animate__animated.animate__fadeInUp
          a.media__box.media__box--small(href="#")
            img(src="img/img-media-3.jpg" srcset="img/img-media-3@2x.jpg 2x" alt="")
            span
              i.icon-font.icon-play

      .media__btn-wrapper.wow.animate__animated.animate__fadeInUp
        .media__btn.c-btn__wrapper.c-btn__wrapper--center
          a.c-btn(href="#")
            span VIEW MORE

// SECTION :: END
