// SECTION :: START

section#reviews.reviews
  .c-grid
    .reviews__wrapper

      h2.reviews__title.c-title.wow.animate__animated.animate__fadeInUp Patient Reviews
      p.reviews__label.c-label.wow.animate__animated.animate__fadeInUp & TESTIMONIALS

      .reviews__box
        i.icon-font.icon-quote
        i.icon-font.icon-quote
        p.wow.animate__animated.animate__fadeInUp Thank you for giving back to me what cancer took away, with your help I won the battle that so many women have endured. I hope for them, they have doctors and staff like you to help them along their journey. Thank you.

      .reviews__btn.c-btn__wrapper.c-btn__wrapper--center.wow.animate__animated.animate__fadeInUp
        a.c-btn(href="#")
          span READ MORE

// SECTION :: END
