// SECTION :: START

section#schedule.schedule(parallax-js data-stellar-background-ratio="1.025")
  .c-grid
    .schedule__wrapper

      h2.schedule__title.c-title.c-title--big.c-title--gold.wow.animate__animated.animate__fadeInUp!= "Schedule your <br>Consultation"

      .schedule__btn.c-btn__wrapper.c-btn__wrapper--center.wow.animate__animated.animate__fadeInUp
        a.c-btn(href="#")
          span CONTACT US

// SECTION :: END
