// SECTION :: START

section#traveling.traveling(style='background-image: url("img/img-traveling-bg@2x.jpg")')
  .c-grid
    .traveling__wrapper
      div

        .traveling__content

          h2.traveling__title.c-title!= "TRAVELING <br>PATIENTS"
          p.traveling__label.c-label OUT OF TOWN

          p.traveling__desc Dr. Darrin M. Hubert extends a warm welcome to patients from other cities, states, and countries. We understand that finding your perfect match in a surgeon may require you to travel far away from your home and we are thrilled to help you plan your exciting journey to beauty and confidence.

          .traveling__btn.c-btn__wrapper
            a.c-btn(href="#")
              span LEARN MORE

// SECTION :: END
