// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 208px;
  height: 130px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: #602b51;
  @include transition(transform, background-color);
  @include adaptive(1279) {
    height: 110px;
  }
  @include adaptive(767) {
    height: 90px;
  }

  &:hover {
    transform: translateY(-3px);
    background-color: #dec895;
    @include transition(transform, background-color);

    &:before,
    &:after {
      background-color: #602b51;
      transform: translateY(-50%) scaleY(2);
      @include transition(background-color, transform);
    }

    span {
      color: #602b51;
      @include transition(color);
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 30px;
    background-color: #dec895;
    transform-origin: center;
    @include transition(background-color, transform);
  }

  &:before {
    left: 20px;
  }

  &:after {
    right: 20px;
  }

  span {
    z-index: 2;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #e2c88e;
    @include transition(color);
    @include adaptive(767) {
      font-size: 14px;
    }
  }
}

// BUTTON :: END
