// SECTION :: START

.traveling {
	position: relative;
	padding-top: 92px;
	padding-bottom: 138px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(767) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&__wrapper {
		display: flex;

		> div {
			position: relative;
			width: 100%;
			max-width: 691px;
			padding: 60px 35px 0 35px;
			box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.1);
			background-image: url('../img/img-pattern@2x.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			@include adaptive(767) {
				padding: 50px 25px;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(#fff, 0.85);
				background-image: url('../img/logo-icon.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	&__content {
		z-index: 2;
		position: relative;
	}

	&__title,
	&__label {
		text-align: left;
	}

	&__label {
		padding-bottom: 55px;
		@include adaptive(767) {
			padding-bottom: 50px;
		}
	}

	&__desc {
		@include adaptive(767) {
			padding-bottom: 50px;
		}
	}

	&__btn {
		transform: translateY(50%);
		@include adaptive(767) {
			transform: unset;
		}
	}
}

// SECTION :: END
