// SECTION :: START

section#about.about
  .c-grid
    .about__wrapper
      .about__wrapper-left

        h2.about__title.c-title.c-title--small Education and Background
        p.about__desc.c-desc Dr. Hubert grew up in the country, outside of Erie, Pennsylvania. He was an Academic All-American basketball player and graduated magna cum laude from the University of Rochester, in Rochester, New York, with a degree in biology. His education then took him to the Ivy League for medical school at the University of Pennsylvania (UPenn), which has ranked in the top three to five medical schools in the whole country for decades.
        p.about__desc.c-desc For the next (and most important) part of his training as a plastic surgeon, Dr. Hubert stayed at Penn to work with and learn from some of the most distinguished surgical faculty. This six-year program is one of the finest and most competitive in the nation, and he spent time at some of the oldest and most prestigious adult and pediatric hospitals. He also completed an additional one-year fellowship in the laboratory, researching the biology of fat transfer and presenting his work at regional and national meetings.

      .about__wrapper-right
        img(src="img/img-about.jpg" srcset="img/img-about@2x.jpg 2x" alt="")

// SECTION :: END
