// SECTION :: START

section#awards.awards

  .awards__bg
    img(src="img/img-awards-bg.jpg" srcset="img/img-awards-bg@2x.jpg 2x" alt="")

  .c-grid
    .awards__wrapper
      .awards__wrapper-left

        p.awards__title.c-title.c-title--gold.wow.animate__animated.animate__fadeInUp Credentials and Awards
        p.awards__desc.c-desc.wow.animate__animated.animate__fadeInUp He has been recognized for several years with awards that include Richmond Magazine Top Doc, Virginia Living Magazine Top Doc, MEDARVA Patient Choice Award, and Best Bedside Manner in OurHealth Magazine for Richmond. Since 2016, Dr. Hubert has served on the committee which writes and edits the annual in-service examination given by the American Society of Plastic Surgeons to both residents in training and practicing plastic surgeons everywhere.

      .awards__wrapper-right.wow.animate__animated.animate__fadeInUp

        img(src="img/img-awards-logo-1.svg" alt="")
        img(src="img/img-awards-logo-2.svg" alt="")

// SECTION :: END
