// SECTION :: START

section#specialties.specialties
  .c-grid

    h2.specialties__title.c-title.wow.animate__animated.animate__fadeInUp Specialties

    .specialties__wrapper
      .specialties__wrapper-left

        p.specialties__desc.c-desc.wow.animate__animated.animate__fadeInUp Dr. Hubert’s areas of specialty include cosmetic surgery of the breast, face, and entire body. Some of these are facelift, neck lift, eyelid lift (blepharoplasty), brow lift, rhinoplasty (nose job), breast augmentation, breast implant revision and removal, breast lift (mastopexy), breast reduction, gynecomastia (male breast surgery), tummy tuck (abdominoplasty), liposuction, Brazilian butt lift, fat transfer, and arm lift. He is skilled in non-invasive cosmetic procedures including botox and facial filler treatments, lasers such as fractional carbon dioxide (CO2), thread lifts, and others.

      .specialties__wrapper-right

        p.specialties__desc.c-desc.wow.animate__animated.animate__fadeInUp When it comes to reconstructive surgery, Dr. Hubert has a special interest in breast surgery including reconstructive microsurgery. In addition to implant breast reconstruction, he routinely performs DIEP flap microsurgery for breast reconstruction. This surgery is very complex, and only a handful of surgeons across Virginia offer this advanced option for women using their own tissue to make a new breast. Dr. Hubert has quite literally performed hundreds of these operations. He has been in private practice since 2007.

// SECTION :: END
