// SECTION :: START

section#meet.meet
  .c-grid
    .meet__wrapper

      h2.meet__title.c-title.c-title--small Board Certified Plastic Surgeon in Richmond, Virginia

      img.meet__visual(src="img/img-meet-bg.jpg" srcset="img/img-meet-bg@2x.jpg 2x" alt="")

      .meet__block
        div

          .meet__content

            h3.meet__subtitle.c-title.c-title--small Darrin Hubert, MD
            p.meet__label.c-label MEET THE SURGEON

            p.meet__desc.c-desc Is a board certified plastic surgeon in the Richmond, Virginia, metro area, offering a wide array of cosmetic plastic surgery and reconstructive procedures, as well as non-invasive options. He graduated from and completed his surgical training at one of the best Ivy League medical schools, the University of Pennsylvania.

            .meet__btn.c-btn__wrapper.c-btn__wrapper--center
              a.c-btn(href="#")
                span LEARN MORE

// SECTION :: END
