// SECTION :: START

section#procedures.procedures
  .c-grid
    .procedures__wrapper.procedures__wrapper-1
      .procedures__wrapper-left

        .procedures__block
          div.wow.animate__animated.animate__fadeInUp
            .procedures__content.wow.animate__animated.animate__fadeInUp

              h2.procedures__title.c-title.c-title--small FACELIFT
              p.procedures__label.c-label FACE PROCEDURES
              p.procedures__desc.c-desc A facelift, also known as a rhytidectomy, involves tightening the underlying tissues of the face and removing excess skin in order to create a more youthful appearance.
              .procedures__btn.c-btn__wrapper
                a.c-btn(href="#")
                  span LEARN MORE

        ul.procedures__list.wow.animate__animated.animate__fadeInUp
          li
            a(href="#")
              p EYELID LIFT
              i.icon-font.icon-arrow
          li
            a(href="#")
              p RHINOPLASTY
              i.icon-font.icon-arrow
          li
            a(href="#")
              p FAT TRANSFER
              i.icon-font.icon-arrow

      .procedures__wrapper-right.wow.animate__animated.animate__fadeInUp
        img(src="img/img-procedures-1.jpg" srcset="img/img-procedures-1@2x.jpg 2x" alt="" parallax-js data-stellar-ratio="1.025")

    .procedures__wrapper.procedures__wrapper-2
      .procedures__wrapper-left

        .procedures__block
          div.wow.animate__animated.animate__fadeInUp
            .procedures__content.wow.animate__animated.animate__fadeInUp

              h2.procedures__title.c-title.c-title--small!= "BREAST <br>AUGMENTATION"
              p.procedures__label.c-label BREAST PROCEDURES
              p.procedures__desc.c-desc At our practice in Richmond, breast augmentation is the most popular procedure and Dr. Hubert’s specialty. If your breasts are not as large or perky as you would like or have lost volume after having children, breast augmentation surgery may be the best procedure for you.
              .procedures__btn.c-btn__wrapper
                a.c-btn(href="#")
                  span LEARN MORE

        ul.procedures__list.wow.animate__animated.animate__fadeInUp
          li
            a(href="#")
              p BREAST LIFT
              i.icon-font.icon-arrow
          li
            a(href="#")
              p BREAST REDUCTION
              i.icon-font.icon-arrow
          li
            a(href="#")
              p BREAST RECONSTRUCTION
              i.icon-font.icon-arrow

      .procedures__wrapper-right.wow.animate__animated.animate__fadeInUp
        img(src="img/img-procedures-2.jpg" srcset="img/img-procedures-2@2x.jpg 2x" alt="" parallax-js data-stellar-ratio="1.025")

    .procedures__wrapper.procedures__wrapper-3
      .procedures__wrapper-left

        .procedures__block
          div.wow.animate__animated.animate__fadeInUp
            .procedures__content.wow.animate__animated.animate__fadeInUp

              h2.procedures__title.c-title.c-title--small LIPOSUCTION
              p.procedures__label.c-label BODY PROCEDURES
              p.procedures__desc.c-desc At our practice in Richmond, liposuction is an extremely common procedure. Liposuction, also called lipoplasty, is a reshaping procedure that slims specific areas of the body by removing excess fatty deposits beneath the skin.
              .procedures__btn.c-btn__wrapper
                a.c-btn(href="#")
                  span LEARN MORE

        ul.procedures__list.wow.animate__animated.animate__fadeInUp
          li
            a(href="#")
              p TUMMY TUCK
              i.icon-font.icon-arrow
          li
            a(href="#")
              p MOMMY MAKEOVER
              i.icon-font.icon-arrow
          li
            a(href="#")
              p ARM LIFT
              i.icon-font.icon-arrow

      .procedures__wrapper-right.wow.animate__animated.animate__fadeInUp
        img(src="img/img-procedures-3.jpg" srcset="img/img-procedures-3@2x.jpg 2x" alt="" parallax-js data-stellar-ratio="1.025")

// SECTION :: END
