// SECTION :: START

section#contact.contact
  .c-grid
    .contact__wrapper.contact__wrapper-1

      h2.contact__title.c-title SCHEDULE A CONSULTATION
      p.contact__desc.c-desc Please fill out the online form below to request an appointment with Dr. Hubert. Or if you are an existing patient, please feel free to use the same online form for any questions or concerns you might have. Alternatively, you can call 804-285-4115 to schedule your consultation with Dr. Hubert.

      form.contact__form(action='' method='' autocomplete='off')
        .contact__form-group
          div
            .contact__form-field
              label
                input(type='text' name='' placeholder='Full Name*')
          div
            .contact__form-field
              label
                input(type='tel' name='' placeholder='Phone*')
        .contact__form-group
          div
            .contact__form-field
              label
                input(type='email' name='' placeholder='Email Address*')
          div
            .contact__form-field
              label
                select()
                  option() Procedure of Interest
                  option() Procedure of Interest
                  option() Procedure of Interest
        .contact__form-group
          div
            .contact__form-field
              label
                select()
                  option() How did you hear about us?
                  option() How did you hear about us?
                  option() How did you hear about us?
          div
            .contact__form-field
              label
                select()
                  option() Best time to reach you
                  option() Best time to reach you
                  option() Best time to reach you
        .contact__form-field
          label
            textarea(placeholder='How can we help you?')
        .contact__form-field
          .c-btn__wrapper.c-btn__wrapper--center
            button.c-btn(type='submit')
              span SUBMIT FORM

  .contact__wrapper.contact__wrapper-2

    .contact__box-wrapper
      .contact__box-map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.988241471807!2d-77.67723088469003!3d37.50819547980883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b16e18f4b8d70b%3A0x13fe7d10f7c51623!2s14401%20Sommerville%20Ct%2C%20Midlothian%2C%20VA%2023113%2C%20USA!5e0!3m2!1sen!2sua!4v1640646455493!5m2!1sen!2sua' style='border:0;' allowfullscreen='' loading='lazy')
      .contact__box-bg
        .c-grid
          .contact__box
            div
              .contact__box-content
                h3.contact__box-title.c-title!= "Midlothian <br>Office"
                p.contact__box-desc.c-desc!= "14401 Sommerville Court, <br>Midlothian, VA 23113"
                .contact__box-btn.c-btn__wrapper.c-btn__wrapper--center
                  a.c-btn(href="#")
                    span GET DIRECTIONS

  .contact__wrapper.contact__wrapper-3

    .contact__box-wrapper
      .contact__box-map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.514614447227!2d-77.6554244846856!3d37.66061397978038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b16a0203ff5905%3A0x2562d34c150d19e3!2s1630%20Wilkes%20Ridge%20Pkwy%20%23201%2C%20Richmond%2C%20VA%2023233%2C%20USA!5e0!3m2!1sen!2sua!4v1640646485446!5m2!1sen!2sua' style='border:0;' allowfullscreen='' loading='lazy')
      .contact__box-bg
        .c-grid
          .contact__box
            div
              .contact__box-content
                h3.contact__box-title.c-title!= "Richmond <br>Office"
                p.contact__box-desc.c-desc!= "1630 Wilkes Ridge Parkway, <br>Suite 201, Richmond, VA 23233"
                .contact__box-btn.c-btn__wrapper.c-btn__wrapper--center
                  a.c-btn(href="#")
                    span GET DIRECTIONS


// SECTION :: END
